@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: #29292E;
}

:root{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

div.container{
    width: 1280px;
    height: 3210px;
    margin: 80px auto;
    padding: 88px 80px;
    box-sizing: border-box;
    background-color: #F5F4F0;
}

div.container p:nth-child(1){
    color: #E1624F;
    font-weight: bold;
    line-height: 0.1;
}
div.container img + p{
    color: #333333;
    text-align: center;
    font-style: italic;
}

h1{
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-weight: bold;
}

h3{
    font-size: 32px;
    font-weight: bold;
}


img{
    border-radius: 16px;
    margin-bottom: 16px;
}

section {
    margin: 40px 0;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

section#information ol{
    margin: 20px -36px;
}

ul li{
    line-height: 1;
    list-style-type: disc;
    margin: 2px -20px;
}

.limarker{
    color: #0C51A7 !important;
}

ul li:nth-child(1){
    color: #591B98;
}

ul li:nth-child(2){
    color: #E5245E;
}

ul li:nth-child(3){
    color: #E95E10;
}

ol li{
    font-weight: bold;
}

div.divider + p{
    text-align: center;
}

footer{
    color: #333333;
    text-align: center;
    padding-bottom: 48px;
}

footer img{
    vertical-align: middle;
}